{
    "presets": ["next/babel"],
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["."],
                "alias": {
                    "@hoc": "./src/hoc",
                    "@json": "./src/json",
                    "@utils": "./src/utils",
                    "@assets": "./src/assets",
                    "@styles": "./src/styles",
                    "@layout": "./src/layout",
                    "@modules": "./src/modules",
                    "@services": "./src/services",
                    "@components": "./src/components"
                }
            }
        ]
    ]
}
