{
    "extends": ["next/core-web-vitals", "airbnb", "prettier"],
    "rules": {
        "arrow-body-style": "off",
        "import/no-unresolved": "off",
        "react/jsx-props-no-spreading": "off",
        "import/no-extraneous-dependencies": "off"
    }
}
