.slick-prev:before,
.slick-next:before {
    color: black !important;
}

.slider img {
    min-height: 440px;
}

@media (min-width: 768px) {
    .slider img {
        height: 35vw;
    }
}

@media (min-width: 1024px) {
    .slider img {
        height: 30vw;
    }
}

@tailwind base;

@layer base {
    h1 {
        @apply text-5xl;
        @apply font-bold;
    }
    h2 {
        @apply text-3xl;
    }
    h3 {
        @apply text-2xl;
    }
}

@tailwind components;

@tailwind utilities;
